

/*===============Favourite Writing======*/
#slider_news,#slider_news_1{
	background-color: #FBF5EF;
	padding-top: 5px;
}
#slider,#favourite_writing{
	flex-basis: 50%;
	overflow: hidden;
}
#slider_news .summary,
#slider_news_1 .summary{
	flex-basis: 49%;
	margin: 0 auto;
}
.owl-carousel{
	position: relative;
}
.owl-theme .owl-nav.disabled + .owl-dots{
	position: absolute;
	top: 90%;
	width: 100%;
	margin: 0;
}
.owl-theme .owl-dots .owl-dot span{
	width: 15px;
	height: 15px;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: #fff;
}
.owl-theme .owl-dots .owl-dot:focus{
	outline: none;
}
#kabbo{
	background-color: #000;
}

.camera_kabbo{
	flex-basis: 68%;
	margin-right: 2%;
}
.scene_kabbo{
	flex-basis: 30%;
}
.camera_kabbo .section_header,.scene_kabbo .section_header{
	padding-bottom: 10px;
}
#favourite_writing .favourite_writing_news .row:last-child{
	margin-top: 14px;
}
.poem,.book_discuss,.culture{
	flex-basis: 32%;
	margin: 0 auto;
}
.story,.novel{
	flex-basis: 49%;
}
.story_fsn,.novel_fsn{
	flex-basis: 32%;
	margin: 0 auto
}
.s_feature_news .sfsn{
	flex-basis: 48%;
	margin: 0 auto;
}
#sna .sn .s{
	flex-basis: 32%;
	margin: 0 auto;
}
.fb-page span{
	/*width: 350px !important;*/
}
#favourite_writing .favourite_writing_news .summary_info,
.single_ads_book_heading,.sk_top_news_heading,
.story_fn_heading,.novel_fn_heading,.story_mimg_heading,.novel_mimg_heading,
.p_main_news_heading,.bd_main_news_heading,.c_main_news_heading,.s_main_news_heading,
.sfsn_heading,.camera_kabbo_news_heading,.ck_fn_heading{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 7px;
}

#google_ads{
	margin: 10px 0;
}
.single_ads_book{
	flex-basis: 16%;
	margin: 0 auto;
}
.camera_kabbo .ck_feature_news{
	flex-basis: 24%;
	margin: 0 auto;
}
.ck_fn_heading>h4{
	font-size: 18px;
}


/*Navigation*/
.nav-links{

}
.nav-previous a{
    margin-left: 15px;
}
.nav-next a{
    margin-right: 15px;	
}
.nav-previous a:before {
  content: "\f100";
  margin-left: -13px;
  margin-right: 5px;
}
.nav-next a:after {
  content: "\f101";
  margin-left: 5px;
  margin-right: -13px;
}
.nav-previous a:before, .nav-next a:after {
  font-family: 'FontAwesome';
  font-weight: 700;
}
.navigation.post-navigation {
    margin-top: 20px;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}
.comment-navigation,
.posts-navigation,
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/*post box*/
/* Post box */
.posts-box-img {
  display: block;
  overflow: hidden;
  border: none;
  position: relative;
  margin: 0 0 18px;
}
.posts-box-link{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9;
}
.posts-box-img {
  height: 236px;
}
.post-box-ltrt .posts-box-img {
  margin: 0;
}
.post-box-img{
  width: 100%;
}
.post-box-ltrt {
    display: flex;
    align-items: center;
}

.posts-box .posts-box-img,
.post-box-ltrt .posts-box-img {
  height: 180px;
}
.large .posts-box .posts-box-img {
  height: 300px;
}

.grid-post .top-layout .posts-box-img {
  margin: 0;
}
.top-layout .posts-box-link:after,
.posts-box-img:after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.5s;
}
.top-layout:hover .posts-box-link:after,
.posts-box-img:hover:after {
  background: rgba(0,0,0,0.1);
}
.posts-box-link,
.posts-box-img span {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  display: block;
  -o-background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  -ms-transform: scale3d(1,1,1);
  -o-transform: scale3d(1,1,1);
  -moz-transform: scale3d(1,1,1);
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}
.top-layout:hover .posts-box-link,
.posts-box-img-top:hover span,
.posts-box-img:hover span {
  -webkit-transform: scale3d(1.05,1.05,1);
  -moz-transform: scale3d(1.05,1.05,1);
  -ms-transform: scale3d(1.05,1.05,1);
  -o-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}
.post-box-img .post-box-details,
.posts-box .posts-meta-details{
    position: absolute;
    bottom: 25px;
    left: 20px;
}

.post-box-content .entry-title{
  margin-top: 20px;
  margin-bottom: 10px;
}
.post-box-content .meta{
  margin-bottom: 10px;
}
.post-box-content .entry-title:hover{
  color: #f6214b;
}


.posts-meta-details a,
.posts-meta-details h4, 
.posts-meta-details h3{
  color: #fff;
  padding: 5px 10px;
  background: #04091e;
}
.posts-meta-details .post-categories,
.posts-meta-details .entry-title,
.posts-meta-details .meta {
  margin-top: 10px;
}

@media (min-width: 991px) {
  .padding.lg-pl-10 {
    padding-left: 10px;
  }
  .padding.lg-pr-10 {
    padding-right: 10px;
  }
}

.cat-title,
.post-list .widget_title {
  font-size: 14px;
  font-weight: 600;
  background: #04091e;
  color: #fff;
  padding: 10px 25px; 
}

.post-list .widget_title {
  margin-bottom: 20px;
}

.posts-box-img .tags li,
.post-box-img .tags li {
  display: inline-block;
  background: #f6214b;
  color: #fff;
  padding: 4px 30px;
  font-weight: 300;
}
.posts-box-img .tags li a,
.post-box-img .tags li a {
  color: #fff;
}

.posts-box-img .tags li:hover a,
.post-box-img .tags li:hover a {
  color: #f6214b;
}
.posts-box-img h3,
.post-box-img h3 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .posts-box-img h3,
  .post-box-img h3 {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .post-box-ltrt .post-categories {
    bottom: 10px;
    left: 15px;
  }
}
.post-box-ltrt .meta{
  margin: 10px 0px;
}

.posts-box .meta li,
.post-box-ltrt .meta li,
.post-box-img .meta li {
  display: inline-block;
  margin-right: 10px;
  font-weight: 300;
  font-size: 12px;
}
.post-box-img .meta li {
  color: #fff;
}



@media (max-width: 414px) {
  .posts-box-img .meta li,
  .post-box-ltrt .meta li,
  .post-box-img .meta li {
    font-size: 9px;
  }
}
.posts-box .meta li .lnr,
.post-box-ltrt .meta li .lnr,
.post-box-img .meta li .lnr {
  margin-right: 10px;
  font-weight: 700;
}

.post-box-img .meta li a,
.post-box-img .meta li .lnr {
  color: #fff;
}

@media (max-width: 991px){
  .post-box-ltrt .post-right {
      margin: 20px 0px;
  }
}
.post-box-ltrt .page-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
.post-right {
    border: 1px solid #ededed;
    padding-top: 7px;
}
.nav-links {
    width: 100%;
}

.page-numbers {
    display:  inline-block;
    background: #04091e;
    padding: 5px 10px;
    color: #fff;
}
.page-numbers.current {
    color: #04091e;
    background-color: #ecf0f1;
}

.post {
    margin: 0 0 1.5em;
}

.post-meta {
    border-bottom: 1px solid #e2e2e2;
    line-height: 24px;
    overflow: hidden;
    padding: 8px 0;
    clear: both;
    margin-top: 20px;
}
.post-meta span a {
    padding: 3px 8px;
    background: #eee;
    border-radius: 3px;
    color: #000;
    margin-right: 8px;
    margin-bottom: 8px;
}


/*Page link*/
.page-links {
    clear: both;
}
.page-links a {
    color: #46cf73;
    margin-right: 5px;
}

/*widget*/
.widget-title {
    background: #46CF73;
    color: #fff;
    padding: 3px 10px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 10px;
}
section.widget {
    margin-bottom: 1.5rem;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}



/*Global*/
a {
    color: #000;
}
.social-menu a .fa {
    font-size: 1.4rem;
}
.info_title,
.snp_big_header,
.snp_small_header{
  -ms-word-break: break-all;
  word-break: break-all;
}
.sfsn_heading,
.s_main_news_heading,
.p_main_news_heading,
.single_ads_book_heading,
.story_fn_heading,
.story_mimg_heading,
.sk_side_news_heading,
.camera_kabbo_news_heading,
.info_title {
    color: #fff;
    background: #0a0a0a26;
}
figure {
    max-width: 100%;
}
img{
    max-width: 100%;
    height: auto;  
}
.pull-right .heateor_sss_sharing_ul {
    float: right;
    overflow: hidden;
    clear: both;
}
.heateor_sss_vertical_sharing {
    display: none!important;
}